@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
 }
<div class="container">
	<h1>
		Liên hệ
	</h1>
	<br/>
	<p>
		Với Chúng tôi, phục vụ là một niềm đam mê, nhìn thấy khách hàng hài lòng với sản phẩm là hạnh phúc!
	</p>
	<form>
	<div class="form-row">
	  
		<input type="text" class="form-control"   placeholder="Enter email" name="email">
	  
	  <br/>
 
		<input type="number" class="form-control" placeholder="Enter phone" name="pswd">
	 
			<br />

			<textarea class="form-control" placeholder="what is your request" name="request"></textarea>
	 
	<br />

	<button type="button" class="btn btn-success">Gửi yêu cầu</button>
	<br />
	<br />
  </form>
</div>